{% extends 'base.html' %}
{% block style %}
    <style>
        body{
            background-image: url("http://wallpapercave.com/wp/7ApilLw.jpg");
        }
        body{
            background-color: white;
            height: 100%;
            paddign: 15px;
            position: relative;
        }
        .login{
            padding: 20px;
            background-color: rgba(255,255,255,0.7);
            margin: 0 auto;
            text-align: center;
        }

        button[type='submit']{
            background: #B0E0E6;
            padding: 10px 15px;
            border-radius: 10px;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="login">
      <form method="post">
      <h2>Login</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
      </form>
    </div>

{% endblock %}