{% extends 'base.html' %}
{% load staticfiles %}
{% block style %}
    <style>
        h1, p {
          padding: 10px 0px 15px 20px;
        }

        p {
          max-width: 400px;
          font: 14px Verdana, sans-serif;
        }

        .donate-form {
          max-width: 500px;
          padding: 20px 12px 10px 20px;
          font: 13px Arial, Helvetica, sans-serif;
        }

        .donate-form-heading {
          font-weight: bold;
          font-style: italic;
          border-bottom: 2px solid #ddd;
          margin-bottom: 20px;
          font-size: 15px;
          padding-bottom: 3px;
        }

        .donate-form label {
            display: block;
            margin: 10px 0px 10px 0px;

        }

        .donate-form label span .required{
            color: red;
        }

        .donate-form label > span {
          width: 100px;
          font-weight: bold;
          float: left;
          padding-top: 8px;
          padding-right: 5px;
        }

        .donate-form span.required {
          color: red;
        }

        .donate-form input.input-field {
          width: 48%;
        }

        .donate-form input.input-field,
        .donate-form .textarea-field,
        .donate-form .select-field {
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          border: 1px solid #C2C2C2;
          box-shadow: 1px 1px 4px #EBEBEB;
          -moz-box-shadow: 1px 1px 4px #EBEBEB;
          -webkit-box-shadow: 1px 1px 4px #EBEBEB;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          padding: 7px;
          outline: none;
        }

        .donate-form .input-field:focus,
        .donate-form .textarea-field:focus,
        .donate-form.select-field:focus {
          border: 1px solid #0C0;
        }

        .donate-form .textarea-field {
          height: 100px;
          width: 48%;
          resize: none;
        }

        .donate-form input[type=submit],
        .donate-form input[type=button] {
          border: none;
          padding: 8px 15px 8px 15px;
            margin-top: 10px;
          background: #84ccff;
          color: #fff;
          box-shadow: 1px 1px 4px #DADADA;
          -moz-box-shadow: 1px 1px 4px #DADADA;
          -webkit-box-shadow: 1px 1px 4px #DADADA;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
        }

        .donate-form input[type=submit]:hover,
        .donate-form input[type=button]:hover {
          background: #71b3e2;
          color: #fff;
        }
    </style>
{% endblock %}
{% block content %}
    {% if not donated %}
        <h1>Donations</h1>
        <p>Every donation helps the library get more books, host more events, and keep the library maintained.</p>
        <div class="donate-form">
            <div class="donate-form-heading">Provide your information</div>
            <form method="POST" action="/donations/">
                {% csrf_token %}
                <div class="field">
                    {{ form.name.errors }}
                    {{ form.name.label_tag }}
                    {{ form.name }}
                    <span class="helpertext">{{ form.name.help_text }}</span>
                </div>
                <div class="field">
                    {{ form.amount.errors }}
                    {{ form.amount.label_tag }}
                    {{ form.amount }}
                    <span class="helpertext">{{ form.amount.help_text }}</span>
                </div>
                <div class="field">
                    {{ form.card_number.errors }}
                    {{ form.card_number.label_tag }}
                    {{ form.card_number }}
                    <span class="helpertext">{{ form.card_number.help_text }}</span>
                </div>
                <div class="field">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message"></textarea>
                </div>
                <input class="submitButton" type="submit" value="Make Donation"/>
            </form>
        </div>
    {% else %}
        <h1>Thanks for the donation!</h1>
    {% endif %}
{% endblock %}